{% extends 'base.html' %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}

<section class="login-page">

    <div class="login-image">

        <img src="{% static 'images/login.avif' %}"
             alt="Login">

    </div>


    <div class="login-form-section">

        <form method="POST"
              class="modern-form">

            {% csrf_token %}

            <h2>
                Welcome Back
            </h2>

            <p>
                Login to continue your learning journey.
            </p>

            <input type="text"
                   name="username"
                   placeholder="Username"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Password"
                   required>

            <button type="submit">

                Login

            </button>

        </form>

    </div>

</section>

{% endblock %}